<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="../../static/assets/css/index.css" th:href="@{/css/index.css}"/>
</head>
<body>
<div id="app">
    hjhgffghdjjdhgfhtyj
    <span>
        dasssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
    </span>
</div>
</body>
<!-- import Vue before Element -->
<script src="../../static/js/vue-2.6.12.js" th:src="@{/js/vue-2.6.12.js}" type="text/javascript"></script>
<!-- import JavaScript -->
<script src="../../static/js/index.js" th:src="@{/js/index.js}" type="text/javascript"></script>
<script src="../../static/js/jquery1.7.2.min.js" th:src="@{/js/jquery1.7.2.min.js}" type="text/javascript"></script>
<script>

    let vm = new Vue({
        el: '#app',
    })
</script>
</html>