<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="/static/assets/images/favicon_1.ico">

    <title></title>


    <!-- DataTables -->
    <link href="/static/assets/js/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />


    <link href="/static/assets/js/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/pages.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/responsive.css" rel="stylesheet" type="text/css">

    <script src="/static/assets/js/modernizr.min.js"></script>

</head>


<body class="fixed-left widescreen">
<!-- Begin page -->
<div id="wrapper">
    <!-- Top Bar Start -->
<!--    <%@ include file="../../Shared/TopLayout.jsp" %>-->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a href="/signmanage/" class="logo"><span>标识管理系统 </span></a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <form class="navbar-form pull-left" role="search">
                        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </form>
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="hidden-xs">
                            <a href="#" id="btn-fullscreen" class="waves-effect"><i class="md md-crop-free"></i></a>
                        </li>
                        <li class="hidden-xs">
                            <a href="${pageContext.request.contextPath}/login/loginOut.action"><i class="md md-settings-power"></i></a>
                        </li>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- Top Bar End -->
    <!-- ========== Left Sidebar Start ========== -->
<!--    <%@ include file="../../Shared/left-menu.jsp" %>-->
    <div class="left side-menu">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 521px;"><div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 521px;">
            <div class="user-details">
                <!--
                <div class="pull-left">
                    <img src="assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
                </div>
                 -->
                <div class="user-info">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">${RName}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> 注销</a></li>
                        </ul>
                    </div>
                    <p class="text-muted m-0">${USERNAME}</p>
                </div>
            </div>
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    <li class="has_sub">
                        <a href="#" class="waves-effect waves-light"><i class="md md-palette"></i> <span> 标识管理</span> <span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled" >
                            <li><a href="/signmanage/sign/FKks/index">设备标识维护</a></li>
                            <li><a href="/signmanage/sign/FRoom/index">门牌标识维护</a></li>
                            <li><a href="/signmanage/sign/FConduit/index">管道标识维护</a></li>
                            <li><a href="/signmanage/sign/FIsolation/index">隔离标识维护</a></li>
                            <li><a href="/signmanage/sign/UserRole/index">角色管理</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="#" class="waves-effect waves-light"><i class="md md-redeem"></i> <span> 数据统计 </span> <span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a href="/signmanage/Sign/SignSearch">标识查询</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="#" class="waves-effect waves-light active"><i class="md md-mail"></i><span> 基础数据 </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled" style="display: block;">
                            <li ><a href="/sys/room/index">标准化巡检分区</a></li>
                            <li class="active"><a href="/sys/pipeline/index">管道数据</a></li>
                            <li ><a href="/sys/isolationCard/index">运行隔离牌数据</a></li>
                            <li ><a href="/sys/cba/index">KKS设备数据维护</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://it.jnpc.com.cn:9999/webdoc/real/Pub8a9790a478004655017800cd31530029.html?STATE=0&OPERATE=3" target="_blank" class="waves-effect waves-light"><i class="md md-home"></i><span> 操作手册 </span></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div><div class="slimScrollBar" style="background: rgb(122, 134, 143); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 372.859px; visibility: visible;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Start right Content here -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <div class="container">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">管道标识管理</h4>
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">基础数据</a></li>
                            <li><a href="#">管道标识维护</a></li>
                            <li class="active">数据列表</li>
                        </ol>
                    </div>
                </div>

                <div>
                    <button type="button" id="btn_add" data-toggle="modal" data-target="#con-close-modal" class="btn btn-primary">
                        <i class="fa fa-plus"></i>&nbsp;新增数据
                    </button>
                    <button type="button" id="ToExcelBtn" class="btn btn-primary">
                        <i class="fa fa-download"></i>导出excel
                    </button>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="datatable-buttons" class="table table-striped table-bordered">
                                                        <thead>
                                                        <tr bgcolor="#90b2e1">
                                                            <th rowspan="2">管道编号</th>
                                                            <th rowspan="2">管道名称</th>
                                                            <th rowspan="2">介质</th>
                                                            <th rowspan="2">流向</th>
                                                            <th rowspan="2">管径（mm）</th>
                                                            <th rowspan="2">可挂长度</th>
                                                            <th rowspan="2">有无保温</th>
                                                            <th colspan="3" style="text-align: center;">设备方位</th>
                                                            <th rowspan="2">操作</th>
                                                        </tr>
                                                        <tr bgcolor="#90b2e1">
                                                            <th>厂房</th>
                                                            <th>标志性设备方位</th>
                                                            <th>最近设备方位</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div> <!-- container -->



        </div>
    </div>
</div>


<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">管道标识-数据维护</h4>
            </div>
            <form action="" method="POST" id="PipelineForm">
                <input type="hidden" id="GID" name="gid" value="" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pipno" class="control-label">管道编号：</label>
                                <input type="text" class="form-control" name="pipno"  placeholder="管道编号">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pipname" class="control-label">管道名称：</label>
                                <input type="text" class="form-control" name="pipname" placeholder="管道名称">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="flowTo" class="control-label">流向：</label>
                                <select name="flowTo" class="form-control">
                                    <option value="1">左</option>
                                    <option value="2">右</option>
                                    <option value="3">上</option>
                                    <option value="4">下</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="medium" class="control-label">介质：</label>
                                <select name="medium" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="pipeDiameter" class="control-label">管径(mm)：</label>
                                <input type="text" class="form-control" name="pipeDiameter" placeholder="管径(mm)">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="hangLength" class="control-label">可挂长度：</label>
                                <input type="text" class="form-control" name="hangLength">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="heatPreservation" class="control-label">有无保温：</label>
                                <div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="heatPreservation1" value="1" name="heatPreservation"
                                               checked="checked">
                                        <label for="heatPreservation1">有</label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <input type="radio" id="heatPreservation2" value="0" name="heatPreservation">
                                        <label for="heatPreservation2">无</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="workshop" class="control-label">厂房：</label>
                                <input type="text" class="form-control" name="workshop" placeholder="厂房">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="azimuthSymbolic" class="control-label">标志性设备方位：</label>
                                <input type="text" class="form-control" name="azimuthSymbolic">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="azimuthLately" class="control-label">最近设备方位：</label>
                                <input type="text" class="form-control" name="azimuthLately" placeholder="最近设备方位">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="EDITUSER" class="control-label">修改人：</label>
                                <input type="text" class="form-control" readonly="readonly" name="EDITUSER" placeholder="修改人">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="luptime" class="control-label">修改时间：</label>
                                <input type="text" class="form-control" readonly="readonly" name="luptime" placeholder="修改时间">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" onclick="Save()">保存</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->


</body>

<script>
    var resizefunc = [];
</script>
<!-- jQuery  -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/detect.js"></script>
<script src="/static/assets/js/fastclick.js"></script>
<script src="/static/assets/js/jquery.slimscroll.js"></script>
<script src="/static/assets/js/jquery.blockUI.js"></script>
<script src="/static/assets/js/waves.js"></script>
<script src="/static/assets/js/wow.min.js"></script>
<script src="/static/assets/js/jquery.nicescroll.js"></script>
<script src="/static/assets/js/jquery.scrollTo.min.js"></script>

<!-- Datatables-->
<script src="/static/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/static/assets/js/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="/static/assets/js/plugins/datatables/jszip.min.js"></script>
<script src="/static/assets/js/plugins/datatables/pdfmake.min.js"></script>
<script src="/static/assets/js/plugins/datatables/vfs_fonts.js"></script>
<script src="/static/assets/js/plugins/datatables/buttons.html5.min.js"></script>
<script src="/static/assets/js/plugins/datatables/buttons.print.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/static/assets/js/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.scroller.min.js"></script>

<!-- Modal-Effect -->
<script src="/static/assets/js/plugins/modal-effect/js/classie.js"></script>
<script src="/static/assets/js/plugins/modal-effect/js/modalEffects.js"></script>

<!-- Datatable init js -->
<script src="/static/assets/pages/datatables.init.js"></script>
<script src="/static/assets/js/jquery.app.js"></script>

<script src="/static/assets/js/jquery-form.min.js"></script>

<script src="/static/assets/js/plugins/notifyjs/dist/notify.min.js"></script>
<script src="/static/assets/js/plugins/notifications/notify-metro.js"></script>
<script src="/static/assets/js/plugins/notifications/notifications.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $.fn.dataTable.ext.errMode='none';

        var t = $('#datatable-buttons').DataTable({
            "ajax": "/sys/pipeline/list",
            "columnDefs": [{"defaultContent": "", "targets": "_all"}],
            "columns": [
                { "data": "pipno", "width": "8%" },
                { "data": "pipname", "width": "8%" },
                { "data": "medium", "width": "5%"},
                { "data": "flowTo", "width": "5%" ,
                    render: function (data, type, row) {
                        if (type === 'display') {
                            var html = "";
                            switch (data) {
                                case 1:
                                    html = '<i class="ion-arrow-left-a "></i>';

                                    break;
                                case 2:
                                    html = '<i class="ion-arrow-right-a "></i>';
                                    break;
                                case 3:
                                    html = '<i class="ion-arrow-up-a "></i>';
                                    break;
                                case 4:
                                    html = '<i class="ion-arrow-down-a "></i>';
                                    break;
                                default:
                                    html = "其它";
                                    break;
                            }
                            return html;
                        }
                    } },
                { "data": "pipeDiameter", "width": "10%",
                    render: function (data, type, row) {
                        if (type === 'display') {
                            var html = data+" mm";
                            return html;
                        }
                    } },
                { "data": "hangLength", "width": "8%" },
                { "data": "heatPreservation", "width": "8%",
                    render: function (data, type, row) {
                        var html = "";
                        switch (data) {
                            case 0:
                                html = '无';
                                break;
                            case 1:
                                html = '有';
                                break;
                            default:
                                html = "其它";
                                break;
                        }
                        return html;
                    } },
                { "data": "workshop", "width": "10%" },
                { "data": "azimuthSymbolic", "width": "10%" },
                { "data": "azimuthLately", "width": "10%" },
                {
                    "data": "gid", "width": "10%",
                    render: function (data, type, row) {
                        console.log("row===",row)
                        let newRow = JSON.stringify(row)
                        if (type === 'display') {
                            var html = "";
                            html += `<button type="button" onclick='Edit(${newRow})' class="btn-primary btn-custom waves-effect waves-light btn-xs m-b-5"  data-target="#con-close-modal"  data-toggle="modal"><i class="fa fa-edit"></i>修改</button>&nbsp;&nbsp;`
                            html += `<button type="button" onclick='Delete(${newRow})'  class="btn-primary btn-custom waves-effect waves-light btn-xs m-b-5" ><i class="glyphicon glyphicon-trash"></i>删除</button>`
                            return html;
                        }
                    }
                }
            ],
            "language": {
                lengthMenu: "每页显示 _MENU_记录",
                zeroRecords: "没有匹配的数据",
                info: "第_PAGE_页/共 _PAGES_页  共_TOTAL_条记录",
                infoEmpty: "没有符合条件的记录",
                search: "查找",
                infoFiltered: "(从 _MAX_条记录中过滤)",
                paginate: { "first": "首页 ", "last": "末页", "next": "下一页", "previous": "上一页" }
            },
            dom: "Bfrtip",
            buttons: []

        });

        //设置分页位置靠右 .items>input:first
        $("#datatable_wrapper > div:first > div:first").attr("class", "col-sm-12");
        $("#datatable_wrapper > div:first > div:first").css("text-align", "right");
        $("#datatable_paginate").css("text-align", "right");
        $("#datatable_info").css("text-align", "left");


        $("#btn_add").click(function () {
            $("input:radio[name='heatPreservation']").each( (i, item) => {
                $(item).prop("checked", false)
            })
            $("input[name=gid]").val("");
            $("input[name=pipno]").val("");   //编号
            $("input[name=pipname]").val("");   //管道名称
            $("select[name=medium]").val("");   //介质
            $("select[name=flowTo]").val("1");   //流向 1-左，2-右，3-上，4-下
            $("input[name=pipeDiameter]").val("");   //管径（mm）
            $("input[name=hangLength]").val("");   //可挂长度
            $("input[name='heatPreservation'][value='1']").prop("checked",true);   //有无保温（1—有；0—无）
            $("input[name=workshop]").val("");   //厂房
            $("input[name=azimuthSymbolic]").val("");   //标志性设备方位
            $("input[name=azimuthLately]").val("");   //最近设备方位
            $("input[name=luptime]").val("");   //最后修改时间
            $("input[name=edituser]").val("");   //最后修改人
        });
        t.on('draw', function () {
            var html = "";

            //html += '<a href="javascript:void(0)" id="ToExcelBtn" class="btn green"><i class="icon-download-alt"></i> Excel导出</a>';

            $(".dt-buttons").html(html);

            $("#ToExcelBtn").click(function(){
                const xhr = new XMLHttpRequest();
                //xhr.open('POST', "http://swagger.xjcec.com/system/sysUser/userListExport", true);
                //xhr.open('POST', "http://localhost:9999/system/sysUser/userListExport", true);
                xhr.open('GET', "export", true);

                xhr.responseType = "blob";

                xhr.onload = () => {
                    console.log(xhr);
                    console.log(xhr.response);
                    const blob = xhr.response;
                    const blobUrl = URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.download="管道标识管理.xlsx"
                    a.href = blobUrl;
                    a.target = '_blank';
                    a.click();
                }

                var params={
                    "pageNum": 1,
                    "pageSize": 11,
                    "userType": 2,
                    "keyWord": "15111111"
                }

                var params2 = {"flowType":3,"pageNum":1,"pageSize":10}

                xhr.setRequestHeader("Content-Type","application/json;charset=UTF-8");
                xhr.setRequestHeader("Xjcec-Auth","eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiJhZG1pbiIsInRlbGVwaG9uZSI6ImFkbWluIiwidXNlck5hbWUiOiJhZG1pbiIsInR5cGUiOjEsInVzZXJJZCI6IjEiLCJhdXRob3JpdGllcyI6WyJkZWZhdWx0Il0sInBhcmVudElkIjoibnVsbCIsImNsaWVudF9pZCI6InhqY2VjIiwicmVhbE5hbWUiOiJhZG1pbiIsInNjb3BlIjpbImFsbCJdLCJwbGF0Zm9ybV9pZCI6MTAwMDAsImV4cCI6MTY0ODY5NzUxNywianRpIjoiOGZmMGRmYTYtMGJjZC00OTVmLTk1ZTctY2U0NzM2YzkyZWI3In0.7gPbOjtYoWEGqF-Zq5BOok_oEYTc62QHOo7GsN2vhZI");
                xhr.setRequestHeader("client-type","trade_back");
                xhr.send(JSON.stringify(params2));
            });
        });

    });

    function Delete(gid) {

        //$("#RoomForm").clearForm();
        console.log(gid)
        $.post("/sys/pipeline/delete/"+gid.pipno, function (result) {
            if (result.code == "200") {

                alert("删除成功")
            }
            else {
                alert("删除失败")
            }
            window.location.reload()
        })


    }

    function Edit(gid) {

        $("input:radio[name='heatPreservation']").each( (i, item) => {
            $(item).prop("checked", false)
        })
        $.post("/sys/pipeline/selectById/"+gid.pipno, function (result) {
            $("input[name=gid]").val(result.data.gid);
            $("input[name=pipno]").val(result.data.pipno);   //编号
            $("input[name=pipname]").val(result.data.pipname);   //管道名称
            $("select[name=medium]").val(result.data.medium);   //介质
            $("select[name=flowTo]").val(result.data.flowTo);   //流向 1-左，2-右，3-上，4-下
            $("input[name=pipeDiameter]").val(result.data.pipeDiameter);   //管径（mm）
            $("input[name=hangLength]").val(result.data.hangLength);   //可挂长度
            // $("input[name=heatPreservation]").val(result.data.heatPreservation);   //有无保温（1—有；0—无）
            $("input[name='heatPreservation'][value="+result.data.heatPreservation+"]").prop("checked",true);
            $("input[name=workshop]").val(result.data.workshop);   //厂房
            $("input[name=azimuthSymbolic]").val(result.data.azimuthSymbolic);   //标志性设备方位
            $("input[name=azimuthLately]").val(result.data.azimuthLately);   //最近设备方位
            $("input[name=luptime]").val(result.data.luptime);   //最后修改时间
            $("input[name=edituser]").val(result.data.edituser);   //最后修改人

        });
    }



    function Save() {


        var model = {
            gid:$("input[name=gid]").val(),
            pipno:$("input[name=pipno]").val(),   //编号
            pipname:$("input[name=pipname]").val(),   //管道名称
            medium:$("select[name=medium]").val(),   //介质
            flowTo:$("select[name=flowTo]").val(),   //流向 1-左，2-右，3-上，4-下
            pipeDiameter:$("input[name=pipeDiameter]").val(),   //管径（mm）
            hangLength:$("input[name=hangLength]").val(),   //可挂长度
            heatPreservation:$("input[name=heatPreservation]:checked").val(),   //有无保温（1—有；0—无）
            workshop:$("input[name=workshop]").val(),   //厂房
            azimuthSymbolic:$("input[name=azimuthSymbolic]").val(),   //标志性设备方位
            azimuthLately:$("input[name=azimuthLately]").val(),   //最近设备方位
            luptime:$("input[name=luptime]").val(),   //最后修改时间
            edituser:$("input[name=edituser]").val()   //最后修改人

        };

        var actrul = "/sys/pipeline/Add";

        $.post(actrul, model, function (result) {
            if (result.code == "200") {

                alert("保存成功")
            }
            else {
                alert("保存失败")
            }
            window.location.reload()


        })
    }
</script>
</html>
