<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="/static/assets/images/favicon_1.ico">

    <title></title>

    <!-- Plugins css -->
    <link href="/static/assets/js/plugins/notifications/notification.css" rel="stylesheet">
    <!-- DataTables -->
    <link href="/static/assets/js/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />


    <link href="/static/assets/js/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/pages.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/responsive.css" rel="stylesheet" type="text/css">

    <script src="/static/assets/js/modernizr.min.js"></script>

</head>


<body class="fixed-left widescreen">
<!-- Begin page -->
<div id="wrapper">
    <!-- Top Bar Start -->
<!--    <%@ include file="../../Shared/TopLayout.jsp" %>-->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a href="/signmanage/" class="logo"><span>标识管理系统 </span></a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <form class="navbar-form pull-left" role="search">
                        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </form>
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="hidden-xs">
                            <a href="#" id="btn-fullscreen" class="waves-effect"><i class="md md-crop-free"></i></a>
                        </li>
                        <li class="hidden-xs">
                            <a href="${pageContext.request.contextPath}/login/loginOut.action"><i class="md md-settings-power"></i></a>
                        </li>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- Top Bar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <!--    <%@ include file="../../Shared/left-menu.jsp" %>-->
    <div class="left side-menu">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 521px;"><div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 521px;">
            <div class="user-details">
                <!--
                <div class="pull-left">
                    <img src="assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
                </div>
                 -->
                <div class="user-info">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">${RName}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> 注销</a></li>
                        </ul>
                    </div>
                    <p class="text-muted m-0">${USERNAME}</p>
                </div>
            </div>
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    <li class="has_sub">
                        <a href="#" class="waves-effect waves-light active"><i class="md md-palette"></i> <span> 标识管理</span> <span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled" style="display: block;">
                            <li><a href="/signmanage/Sign/SignIndex_CBA">设备标识维护</a></li>
                            <li><a href="/signmanage/Sign/SignIndex_Room">门牌标识维护</a></li>
                            <li><a href="/signmanage/Sign/SignIndex_Pipeline">管道标识维护</a></li>
                            <li><a href="/signmanage/Sign/SignIndex_IsolatioCard">隔离标识维护</a></li>
                            <li><a href="/signmanage/flow/Make_Add">标识悬挂流程发起</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="#" class="waves-effect waves-light"><i class="md md-redeem"></i> <span> 数据统计 </span> <span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a href="/signmanage/Sign/SignSearch">标识查询</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="#" class="waves-effect waves-light"><i class="md md-mail"></i><span> 基础数据 </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a href="/sys/room/index">标准化巡检分区</a></li>
                            <li><a href="/sys/pipeline/index">管道数据</a></li>
                            <li><a href="/sys/isolationCard/index">运行隔离牌数据</a></li>
                            <li><a href="/sys/cba/index">KKS设备数据维护</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://it.jnpc.com.cn:9999/webdoc/real/Pub8a9790a478004655017800cd31530029.html?STATE=0&OPERATE=3" target="_blank" class="waves-effect waves-light"><i class="md md-home"></i><span> 操作手册 </span></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div><div class="slimScrollBar" style="background: rgb(122, 134, 143); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 372.859px; visibility: visible;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Start right Content here -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <div class="container">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">标志化巡检分区管理</h4>
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">基础数据</a></li>
                            <li><a href="#">标志化巡检分区管理</a></li>
                            <li class="active">数据列表</li>
                        </ol>
                    </div>
                </div>

                <div>
                    <button type="button" id="btn_add" data-toggle="modal" data-target="#con-close-modal" class="btn btn-primary">
                        <i class="fa fa-plus"></i>&nbsp;新增数据
                    </button>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="datatable-buttons" class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th class="sorting_asc">房间编号</th>
                                                            <th class="sorting">房间说明</th>
                                                            <th class="sorting">房间名称</th>
                                                            <th class="sorting">职责区</th>
                                                            <th class="sorting">最后修改时间</th>
                                                            <th class="sorting">操作</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div> <!-- container -->



        </div>
    </div>
</div>


<%@ include file="add.jsp" %>

</body>

<script>
    var resizefunc = [];
</script>
<!-- jQuery  -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/detect.js"></script>
<script src="/static/assets/js/fastclick.js"></script>
<script src="/static/assets/js/jquery.slimscroll.js"></script>
<script src="/static/assets/js/jquery.blockUI.js"></script>
<script src="/static/assets/js/waves.js"></script>
<script src="/static/assets/js/wow.min.js"></script>
<script src="/static/assets/js/jquery.nicescroll.js"></script>
<script src="/static/assets/js/jquery.scrollTo.min.js"></script>

<!-- Datatables-->
<script src="/static/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/static/assets/js/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="/static/assets/js/plugins/datatables/jszip.min.js"></script>
<script src="/static/assets/js/plugins/datatables/pdfmake.min.js"></script>
<script src="/static/assets/js/plugins/datatables/vfs_fonts.js"></script>
<script src="/static/assets/js/plugins/datatables/buttons.html5.min.js"></script>
<script src="/static/assets/js/plugins/datatables/buttons.print.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/static/assets/js/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.scroller.min.js"></script>

<!-- Modal-Effect -->
<script src="/static/assets/js/plugins/modal-effect/js/classie.js"></script>
<script src="/static/assets/js/plugins/modal-effect/js/modalEffects.js"></script>

<!-- Datatable init js -->
<script src="/static/assets/pages/datatables.init.js"></script>
<script src="/static/assets/js/jquery.app.js"></script>

<script src="${pageContext.request.contextPath}/assets/js/jquery-form.js"></script>

<script src="/assets/js/plugins/notifyjs/dist/notify.min.js"></script>
<script src="/assets/js/plugins/notifications/notify-metro.js"></script>
<script src="/assets/js/plugins/notifications/notifications.js"></script>


<!--&lt;!&ndash;定义操作列按钮模板&ndash;&gt;-->
<!--<script id="tpl" type="text/x-handlebars-template">-->
<!--    {{#each func}}-->
<!--    <button type="button" class="btn btn-{{this.type}} btn-sm" onclick="{{this.fn}}">{{this.name}}</button>-->
<!--    {{/each}}-->
<!--</script>-->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $.fn.dataTable.ext.errMode='none';

        t = $('#datatable-buttons').DataTable({
            "ajax": "/sys/room/list",
            "columnDefs": [{"defaultContent": "", "targets": "_all"}],
            "columns": [
                { "data": "roomNo", "width": "10%" },
                { "data": "roomName", "width": "20%" },
                { "data": "roomDis", "width": "20%" },
                { "data": "dutyArea", "width": "10%" },
                { "data": "lupTime", "width": "20%" },
                {
                    "data": "gid", "width": "20%",
                    render: function (data, type, row) {
                        console.log("row===",row)
                        let newRow = JSON.stringify(row)
                        if (type === 'display') {
                            var html = "";
                            html += `<button type="button" onclick='Edit(${newRow})' class="btn-primary btn-custom waves-effect waves-light btn-xs m-b-5"  data-target="#con-close-modal"  data-toggle="modal"><i class="fa fa-edit"></i>修改数据</button>&nbsp;&nbsp;`
                            html += `<button type="button" onclick='Delete(${newRow})'  class="btn-primary btn-custom waves-effect waves-light btn-xs m-b-5" ><i class="glyphicon glyphicon-trash"></i>删除</button>`
                            return html;
                        }
                    }
                }
            ],
            "language": {
                lengthMenu: "每页显示 _MENU_记录",
                zeroRecords: "没有匹配的数据",
                info: "第_PAGE_页/共 _PAGES_页  共_TOTAL_条记录",
                infoEmpty: "没有符合条件的记录",
                search: "查找",
                infoFiltered: "(从 _MAX_条记录中过滤)",
                paginate: { "first": "首页 ", "last": "末页", "next": "下一页", "previous": "上一页" }
            },
            dom: "Bfrtip",
            buttons: [
                { extend: "copy", className: "btn-sm" },
                { extend: "csv", className: "btn-sm" },
                { extend: "excel", className: "btn-sm", filename: "标准化巡检分区数据.xlsx" },
                { extend: "pdf", className: "btn-sm" },
                { extend: "print", className: "btn-sm" }]

        });

        //设置分页位置靠右 .items>input:first
        $("#datatable_wrapper > div:first > div:first").attr("class", "col-sm-12");
        $("#datatable_wrapper > div:first > div:first").css("text-align", "right");
        $("#datatable_paginate").css("text-align", "right");
        $("#datatable_info").css("text-align", "left");


        $("#btn_add").click(function () {
            $("#RoomForm").clearForm();
        });


    });

    function Delete(gid) {
        var rommnn = gid.roomNo
        $.post("delete?id=" + rommnn,function (result) {
                var json=eval("("+result+")");
                debugger;
                if (json.data) {
                    $.Notification.notify(
                        'success',
                        'top right',
                        '系统消息',
                        json.Message
                    );
                }
                else {
                    $.Notification.notify(
                        'error',
                        'top right',
                        '系统消息',
                        json.Message
                    );

                }
                t.ajax.url("${pageContext.request.contextPath}/sys/room/getrooms").load();
            }
        );
    }

    function Edit(gid) {
        console.log("fangfaliroom=================",gid.roomNo)
        var rommnn = gid.roomNo
        // return
        $.ajax({
            type: "get",
            url: "update?GID=" + rommnn,
            dateType: "json",
            contentType: 'application/json',
            success: function (result) {
                var json=eval("("+result+")");
                debugger;
                //这个地方尤其要注意一定要指定contentType的值为『"application/json"』 ，因为此处@RequestBody接受的是一个通过json转换的对象
                //如果不设置，默认为text/html,那么是支持该种类型的，会报415错误

                $("#DUTY_AREA").val(json.data.dutyArea);
                $("#ROOMDIS").val(json.data.roomdis);
                $("#EDITUSER").val(json.data.edituser || "周技");
                $("#ROOMNAME").val(json.data.roomname);
                $("#GID").val(json.data.gid);
                $("#ROOMNO").val(json.data.roomno);
                $("#luptime").val(json.data.luptime);
            }
        });
    }



    function Save() {


        var model = {
            dutyArea: $("#DUTY_AREA").val(),
            roomdis: $("#ROOMDIS").val(),
            edituser: $("#EDITUSER").val(),
            roomname: $("#ROOMNAME").val(),
            gid: $("#GID").val(),
            luptime: $("#luptime").val(),
            roomno: $("#ROOMNO").val()
        };

        var actrul = "Add";

        if (model.gid != "") {
            actrul = "Update";
        }

        $.post(actrul,model,function (result) {
            var json=eval("("+result+")");
            debugger;
            if (json.data) {
                $.Notification.notify(
                    'success',
                    'top right',
                    '系统消息',
                    json.Message
                );
            }
            else {
                $.Notification.notify(
                    'error',
                    'top right',
                    '系统消息',
                    json.Message
                );
            }
            t.ajax.url("${pageContext.request.contextPath}/sys/room/getrooms").load();
        })


    }
</script>
</html>
