<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <!-- Dropzone css -->
    <link href="/static/assets/js/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">
    <!-- Plugins css -->
    <link href="/static/assets/js/plugins/notifications/notification.css" rel="stylesheet">

    <!-- Plugins css-->
    <link href="/static/assets/js/plugins/tagsinput/jquery.tagsinput.css" rel="stylesheet">
    <link href="/static/assets/js/plugins/toggles/toggles.css" rel="stylesheet">
    <link href="/static/assets/js/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/static/assets/js/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="/static/assets/js/plugins/colorpicker/colorpicker.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/js/plugins/jquery-multi-select/multi-select.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/js/plugins/select2/dist/css/select2.css" rel="stylesheet" type="text/css">


    <link href="/static/assets/js/plugins/select2/dist/css/select2-bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/js/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css"
          rel="stylesheet" />

    <!-- DataTables -->
    <link href="/static/assets/js/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/js/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />


    <link href="/static/assets/js/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/pages.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/responsive.css" rel="stylesheet" type="text/css">

    <script src="/static/assets/js/modernizr.min.js"></script>

    <link href="/signmanage/assets/css/select2.css" rel="stylesheet" type="text/css">
    <link href="/signmanage/assets/css/select2_metro.css" rel="stylesheet" type="text/css" />
    <link href="/signmanage/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/signmanage/js/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css" rel="stylesheet"
          type="text/css">
    <link href="/signmanage/js/jquery-ui-1.12.1.custom/jquery-ui.theme.css" rel="stylesheet" type="text/css">

    <style>
        .select2 {
            width: 100%;
            border-radius: 0px;
        }

        .selected {
            background-color: #fde97a !important;
        }

        tr.selected:hover {
            background-color: #fde97a;
        }

        #Detail_table thead .sorting_asc:after {
            content: "" !important;
        }

        .ui-front {
            z-index: 2000 !important;
        }


        .ui-widget.ui-widget-content {
            border: 1px solid #c5c5c5;
            margin-left: -8px !important;
        }
        .addUser-modal-dialog{
            width: 1000px;
            margin: 30px auto;
            max-height : 600px;
            overflow-y:auto
        }
        .select-modal-dialog {
            width: 800px;
            margin: 30px auto
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body class="fixed-left widescreen">
<!-- Begin page -->
<div id="wrapper">
    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a href="/signmanage/" class="logo"><span>标识管理系统 </span></a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <form class="navbar-form pull-left" role="search">
                        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </form>
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="hidden-xs">
                            <a href="#" id="btn-fullscreen" class="waves-effect"><i class="md md-crop-free"></i></a>
                        </li>
                        <li class="hidden-xs">
                            <a href="${pageContext.request.contextPath}/login/loginOut.action"><i class="md md-settings-power"></i></a>
                        </li>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- Top Bar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 521px;"><div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 521px;">
            <div class="user-details">
                <!--
                <div class="pull-left">
                    <img src="assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
                </div>
                 -->
                <div class="user-info">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">${RName}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> 注销</a></li>
                        </ul>
                    </div>
                    <p class="text-muted m-0">${USERNAME}</p>
                </div>
            </div>
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    <li class="has_sub">
                        <a href="#" class="waves-effect waves-light active"><i class="md md-palette"></i> <span> 标识管理</span> <span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled" style="display: block;">
                            <li><a href="/signmanage/sign/FKks/index">设备标识维护</a></li>
                            <li><a href="/signmanage/sign/FRoom/index">门牌标识维护</a></li>
                            <li><a href="/signmanage/sign/FConduit/index">管道标识维护</a></li>
                            <li><a href="/signmanage/sign/FIsolation/index">隔离标识维护</a></li>
                            <li><a href="/signmanage/sign/UserRole/index">角色管理</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="#" class="waves-effect waves-light"><i class="md md-redeem"></i> <span> 数据统计 </span> <span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a href="/signmanage/Sign/SignSearch">标识查询</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="#" class="waves-effect waves-light"><i class="md md-mail"></i><span> 基础数据 </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a href="/sys/room/index">标准化巡检分区</a></li>
                            <li><a href="/sys/pipeline/index">管道数据</a></li>
                            <li><a href="/sys/isolationCard/index">运行隔离牌数据</a></li>
                            <li><a href="/sys/cba/index">KKS设备数据维护</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://it.jnpc.com.cn:9999/webdoc/real/Pub8a9790a478004655017800cd31530029.html?STATE=0&OPERATE=3" target="_blank" class="waves-effect waves-light"><i class="md md-home"></i><span> 操作手册 </span></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div><div class="slimScrollBar" style="background: rgb(122, 134, 143); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 372.859px; visibility: visible;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Start right Content here -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <div class="container">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">角色管理</h4>
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">基础数据</a></li>
                            <li><a href="#">角色管理</a></li>
                            <li class="active">数据列表</li>
                        </ol>
                    </div>
                </div>

                <div>
                    <button type="button" id="btn_add" data-toggle="modal" data-target="#con-close-modal" class="btn btn-primary">
                        <i class="fa fa-plus"></i>新增角色
                    </button>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">

                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <table style="width:100%" id="Role_table"
                                           class="table table-striped table-bordered">
                                        <thead>
                                        <tr bgcolor="#90b2e1">
                                            <th class="sorting_asc">角色编号</th>
                                            <th class="sorting">角色名称</th>
                                            <th class="sorting">备注</th>
                                            <th class="sorting">操作</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div> <!-- container -->
        </div>
    </div>
</div>


<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">角色新增</h4>
            </div>
            <form action="" method="POST" id="CbaForm">
                <input type="hidden" id="roleId"  value="" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="roleCode" class="control-label">角色编码：</label>
                                <input type="text" class="form-control" id="roleCode" placeholder="请输入角色编码">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="roleName" class="control-label">角色名称：</label>
                                <input type="text" class="form-control" id="roleName" placeholder="请输入角色名称">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label for="remark" class="control-label">备注</label>
                                <textarea class="form-control autogrow" id="remark" placeholder="角色备注"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" onclick="Save()">保存</button>

                </div>
            </form>
        </div>
    </div>
</div>


<div id="con-addUser-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none">
    <div class="addUser-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">角色用户添加</h4>
            </div>
            <button type="button" data-toggle="modal" class="btn btn-primary" style="margin-right: 10px" data-target="#con-select-modal" onclick="getDepartment()">
                <i class="fa fa-plus"></i>添加用户
            </button>
            <div class="panel-body">
                <div class="row">
                    <table style="width:100%" id="role_user_table"
                           class="table table-striped table-bordered">
                        <thead>
                        <tr bgcolor="#90b2e1">
                            <th class="sorting_asc">用户编号</th>
                            <th class="sorting">用户名称</th>
                            <th class="sorting">部门</th>
                            <th class="sorting">所属责任值</th>
                            <th class="sorting">操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="con-select-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none" data-backdrop="static" data-keyboard="false">
    <div class="select-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">角色添加</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <table>
                        <td  width="25%" valign="top" align="left">
                            <input type="text" id="departmentNameValue" onchange="filterDepartment()"/>
                            <ul class="nav navbar-nav navbar-left pull-left" id="departmentUl" style="height: 100%">


                            </ul>
                        </td>
                        <td>
                            <table style="width:100%" id="user_table"
                                   class="table table-striped table-bordered">
                                <thead>
                                <tr bgcolor="#90b2e1">
                                    <th><input type="checkbox" id="allValue" onclick="selectAll()"></th>
                                    <th class="sorting_asc">用户编号</th>
                                    <th class="sorting">用户姓名</th>
                                    <th class="sorting">所属责任值</th>
                                </tr>
                                </thead>
                            </table>
                        </td>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" onclick="showModel1()">取消</button>
                <button type="button" class="btn btn-info waves-effect waves-light" onclick="saveUserList()">提交</button>

            </div>
        </div>
    </div>
</div>



</body>

<script>
    var resizefunc = [];
</script>
<!-- jQuery  -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/detect.js"></script>
<script src="/static/assets/js/fastclick.js"></script>
<script src="/static/assets/js/jquery.slimscroll.js"></script>
<script src="/static/assets/js/jquery.blockUI.js"></script>
<script src="/static/assets/js/waves.js"></script>
<script src="/static/assets/js/wow.min.js"></script>
<script src="/static/assets/js/jquery.nicescroll.js"></script>
<script src="/static/assets/js/jquery.scrollTo.min.js"></script>

<!-- Datatables-->
<script src="/static/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/static/assets/js/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="/static/assets/js/plugins/datatables/jszip.min.js"></script>
<script src="/static/assets/js/plugins/datatables/pdfmake.min.js"></script>
<script src="/static/assets/js/plugins/datatables/vfs_fonts.js"></script>
<script src="/static/assets/js/plugins/datatables/buttons.html5.min.js"></script>
<script src="/static/assets/js/plugins/datatables/buttons.print.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/static/assets/js/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="/static/assets/js/plugins/datatables/dataTables.scroller.min.js"></script>

<!-- Modal-Effect -->
<script src="/static/assets/js/plugins/modal-effect/js/classie.js"></script>
<script src="/static/assets/js/plugins/modal-effect/js/modalEffects.js"></script>

<!-- Datatable init js -->
<script src="/static/assets/pages/datatables.init.js"></script>
<script src="/static/assets/js/jquery.app.js"></script>

<script src="/static/assets/js/jquery-form.js"></script>

<script src="/static/assets/js/plugins/notifyjs/dist/notify.min.js"></script>
<script src="/static/assets/js/plugins/notifications/notify-metro.js"></script>
<script src="/static/assets/js/plugins/notifications/notifications.js"></script>
<script type="text/javascript">
    var selectRoleId = "";
    // $.fn.modal.Constructor.prototype.enforceFocus = function () { };
    jQuery(document).ready(function ($) {

        //var t1 = $('#Role_table').DataTable({});
        // $.fn.dataTable.ext.errMode = 'none';
         t1 = $('#Role_table').DataTable({
            // "ajax": "/signmanage/Sign/GetSignListBySeach?signtype=C&signstate=10&defecttype=0&flowno=0&liabilityz=0",
            "ajax": "/signmanage/sign/UserRole/list",
            "columns": [
                  //行号，非业务数据的SEQUENCE
                { "data": "roleCode", "width": "20%" },	//管道编号
                { "data": "roleName", "width": "20%" },	//管道名称
                { "data": "remark", "width": "40%" },	//介质
                {
                    "data": "roleId", "width": "20%", render: function (data, type, row) {
                        // if (type === 'display' && 10 === row.signstate) {
                        if (type === 'display' ) {
                            var html = '';
                            html += '<button type="button" onclick=" Edit(\'' + data + '\')" class="btn-primary btn-custom waves-effect waves-light btn-xs m-b-5"  data-target="#con-close-modal"  data-toggle="modal"><i class="fa fa-edit"></i>&nbsp;修改</button>&nbsp;&nbsp;'
                            html += '<button type="button" onclick=" Delete(\'' + data + '\')"  class="btn-primary btn-custom waves-effect waves-light btn-xs m-b-5"  ><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>&nbsp;&nbsp;'
                            html += '<button type="button" onclick=" addUser(\'' + data + '\')" class="btn-primary btn-custom waves-effect waves-light btn-xs m-b-5" data-target="#con-addUser-modal" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;添加用户</button>'
                            return html;
                        } else {
                            return data;
                        }
                    }
                }
            ],
            "language": {
                lengthMenu: "每页显示 _MENU_记录",
                zeroRecords: "没有匹配的数据",
                info: "第_PAGE_页/共 _PAGES_页  共_TOTAL_条记录",
                infoEmpty: "没有符合条件的记录",
                search: "查找",
                infoFiltered: "(从 _MAX_条记录中过滤)",
                paginate: { "first": "首页 ", "last": "末页", "next": "下一页", "previous": "上一页" }
            },
            dom: "Bfrtip",
            buttons: []
        });

        /*var html = "";

        html += '<button id="addToTable3" style="margin-right: 8px;" class="btn btn-primary waves-effect waves-light btn-sm" data-toggle="modal" data-target="#con-close-modal3">管道 标识新增 <i class="fa fa-plus"></i></button>';
        $(".dt-buttons").append(html);*/

        //设置分页位置靠右 .items>input:first
        $("#datatable_wrapper > div:first > div:first").attr("class", "col-sm-12");
        $("#datatable_wrapper > div:first > div:first").css("text-align", "right");
        $("#datatable_paginate").css("text-align", "right");
        $("#datatable_info").css("text-align", "left");


    });

    $("#btn_add").click(function () {
        $("#CbaForm").clearForm();
    });


    function Delete(roleId) {
        //$("#RoomForm").clearForm();
        $.post("delete/"+roleId, function (json) {
            if (json.code == "200") {

                alert("删除成功")
            }
            else {
                alert("删除失败")
            }
            window.location.reload()
        })


    }

    function Edit(roleId) {
        $.ajax({
            type: "get",
            url: "getById/" + roleId,
            dateType: "json",
            contentType: 'application/json',
            success: function (result) {

                console.log(result )
                //var json = eval("(" + result + ")");

                $("#roleCode").val(result.data.roleCode);
                $("#roleName").val(result.data.roleName);
                $("#remark").val(result.data.remark);
                $("#roleId").val(result.data.roleId);
            }
        });
    }

    function addUser(roleId) {
        selectRoleId =  roleId;

        $('#role_user_table').DataTable({
            // "ajax": "/signmanage/Sign/GetSignListBySeach?signtype=C&signstate=10&defecttype=0&flowno=0&liabilityz=0",
            "ajax": "/signmanage/sign/UserRole/Associated_Users?roleId=" + roleId,
            "columns": [
                //行号，非业务数据的SEQUENCE
                {"data": "userCode", "width": "20%"},	//用户编号
                {"data": "userName", "width": "20%"},	//用户姓名
                {"data": "departmentName", "width": "20%"},	//部门
                {"data": "responsibilityValues", "width": "40%"},	//介质
                {
                    "data": "id", "width": "20%", render: function (data, type, row) {
                        // if (type === 'display' && 10 === row.signstate) {
                        if (type === 'display') {
                            var html = '';
                            html += '<button type="button" onclick=" DeleteUser(\'' + row.id + '\')"  class="btn-primary btn-custom waves-effect waves-light btn-xs m-b-5"  ><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>&nbsp;&nbsp;'
                            return html;
                        } else {
                            return data;
                        }
                    }
                }
            ],
            "destroy": true,
            "language": {
                lengthMenu: "每页显示 _MENU_记录",
                zeroRecords: "没有匹配的数据",
                info: "第_PAGE_页/共 _PAGES_页  共_TOTAL_条记录",
                infoEmpty: "没有符合条件的记录",
                search: "请输入用户姓名",
                infoFiltered: "(从 _MAX_条记录中过滤)",
                paginate: { "first": "首页 ", "last": "末页", "next": "下一页", "previous": "上一页" }
            },
            dom: "Bfrtip",
            buttons: []
        })
    }

    function DeleteUser(id) {
        //$("#RoomForm").clearForm();
        $.post("DeleteUser/"+id, function (json) {
            if (json.code == "200") {

                alert("删除成功")
            }
            else {
                alert("删除失败")
            }
            window.location.reload()
        })


    }

    function Save() {


        var model = {
            roleCode: $("#roleCode").val(),
            roleName: $("#roleName").val(),
            remark: $("#remark").val(),
            roleId: $("#roleId").val()
        };
        var actrul = "Add";
        if (model.roleId != "") {
            actrul = "Update";
        }
        $.post(actrul,model,function (result) {
            if (result.code == "200") {

                alert("保存成功")
            }else if (result.msg=""){

            }
            else {
                alert("保存失败")
            }
            window.location.reload()
        })


    }
    var departmentList = [];
    function getDepartment() {
        $('#con-addUser-modal').modal('hide')
        $.get("DepartmentList", function (json) {
            if (json.code == "200") {
                departmentList = json.data;
                $("#departmentUl").html("")
                for (var j in json.data) {
                    $("#departmentUl").append("<li class='hidden-xs' onclick='liClick("+json.data[j].departmentId+")'>"+json.data[j].departmentName+"</li><br/>")
                }
                if (json.data.length > 0) {
                    liClick(json.data[0].departmentId);
                }
            }
        })
    }

    function filterDepartment() {
        var value = $("#departmentNameValue").val();
        $("#departmentUl").html("")
        for (var j in departmentList) {
            if (departmentList[j].departmentName && departmentList[j].departmentName.indexOf(value) !== -1) {
                $("#departmentUl").append("<li class='hidden-xs' onclick='liClick("+departmentList[j].departmentId+")'>"+departmentList[j].departmentName+"</li><br/>")
            }
        }
    }
    var departmentId = '';
    function liClick(id) {
        departmentId = id;

        $("#allValue").prop("checked", false)
        $("#user_table").DataTable({
            "ajax": "/signmanage/sign/UserRole/UserList?departmentId=" + id+ "&roleId=" + selectRoleId ,
            "columns": [
                {
                    "data": "userId", "width": "20%", render: function (data, type, row) {
                        // if (type === 'display' && 10 === row.signstate) {
                        if (type === 'display') {
                            var html = '';
                            html += "<input type='checkbox' name='userIds' value='"+row.userId+"'/>"
                            return html;
                        } else {
                            return data;
                        }
                    }
                },
                //行号，非业务数据的SEQUENCE
                {"data": "userCode", "width": "20%"},	//用户编号
                {"data": "userName", "width": "20%"},	//用户姓名
                {"data": "responsibilityValues", "width": "20%"},	//所属责任值
            ],
            "bInfo": false,
            "bPaginate": false, //翻页功能
            "destroy": true,
            "bLengthChange": false, //改变每页显示数据数量
        })
    }
    function showModel1() {
        $('#con-select-modal').modal('hide')
        $('#con-addUser-modal').modal('show')
    }
    function saveUserList() {
        var value = [];
        $("input[name='userIds']:checked").each(function (i) {
            value.push($(this).val())
        })
        var model = {
            roleId: selectRoleId,
            departmentId: departmentId,
            userIds: value
        };
        $.ajax({
            type: "post",
            url: "BindingUser",
            dateType: "json",
            data : JSON.stringify(model),
            contentType: 'application/json',
            success : function (json) {
                if (json.code == "200") {
                    $('#con-select-modal').modal('hide');
                    $('#con-addUser-modal').modal('show');
                    addUser(selectRoleId);
                }
                else {
                    alert("添加失败")
                }
            }
        })
    }

    function selectAll() {
        if ($("#allValue").prop("checked")) {
           $("input[name='userIds']").each(function (){
               $(this).prop('checked', true)
           })
        } else {
            $("input[name='userIds']").each(function (){
                $(this).prop('checked', false)
            })
        }
    }
</script>
</html>
