<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.bsgl.mapper.BDataIsolationCardMapper">

    <resultMap id="Result" type="com.bs.bsgl.pojo.BDataIsolationCard">
        <id column="GID" property="gid"/>
        <result column="ISOLATION_TYPE" property="isolationType"/>
        <result column="UNIT_NO" property="unitNo"/>
        <result column="C_TYPE" property="cType"/>
        <result column="KKSNO" property="kksno"/>
        <result column="POSTION" property="postion"/>
        <result column="I_STATE" property="iState"/>
        <result column="DEVICE_NAME" property="deviceName"/>
        <result column="DUTY_AREA" property="dutyArea"/>
        <result column="LUPTIME" property="lupTime"/>
        <result column="EDITUSER" property="editUser"/>
    </resultMap>

    <select id="getDataIsolationCardAll"  parameterType="com.bs.bsgl.pojo.BDataIsolationCard" resultMap="Result">
        select * from jnpc_bsgl_b_data_isolation
        <where>
            <if test="kksno != null and kksno!=''">and KKSNO like concat('%', #{kksno},'%') </if>
            <if test="unitNo != null and unitNo!=''">and UNIT_NO like concat('%', #{unitNo},'%') </if>
            <if test="cType != null and cType!=''">and C_TYPE = #{cType} </if>
            <if test="isolationType != null and isolationType!=''">and ISOLATION_TYPE  = #{isolationType} </if>
        </where>
        order by GID desc
    </select>

    <select id="getIsolationCardById" resultMap="Result">
        select * from jnpc_bsgl_b_data_isolation where GID = #{gid}
    </select>

    <insert id="addBDataIsolationCard" parameterType="com.bs.bsgl.pojo.BDataIsolationCard">
        insert into jnpc_bsgl_b_data_isolation (GID, ISOLATION_TYPE, UNIT_NO, C_TYPE, KKSNO, POSTION, I_STATE, DEVICE_NAME, DUTY_AREA, LUPTIME, EDITUSER)
        values(#{gid}, #{isolationType,jdbcType=VARCHAR},#{unitNo,jdbcType=VARCHAR},#{cType,jdbcType=VARCHAR},#{kksno,jdbcType=VARCHAR},#{postion,jdbcType=VARCHAR},#{iState,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, #{dutyArea,jdbcType=VARCHAR}, #{lupTime,jdbcType=DATE}, #{editUser,jdbcType=VARCHAR})
    </insert>

    <update id="updateBDataIsolationCardById" parameterType="com.bs.bsgl.pojo.BDataIsolationCard">
        update jnpc_bsgl_b_data_isolation
        <set>
            <if test="isolationType != null and isolationType!=''">ISOLATION_TYPE = #{isolationType,jdbcType=VARCHAR},</if>
            <if test="unitNo != null and unitNo!=''">UNIT_NO = #{unitNo,jdbcType=VARCHAR},</if>
            <if test="cType != null and cType!=''">C_TYPE = #{cType,jdbcType=VARCHAR},</if>
            <if test="kksno != null and kksno!=''">KKSNO = #{kksno,jdbcType=VARCHAR},</if>
            <if test="postion != null and postion!=''">POSTION = #{postion,jdbcType=VARCHAR},</if>
            <if test="iState != null and iState!=''">I_STATE = #{iState,jdbcType=VARCHAR},</if>
            <if test="deviceName != null and deviceName!=''">DEVICE_NAME = #{deviceName,jdbcType=VARCHAR},</if>
            <if test="dutyArea != null and dutyArea!=''">DUTY_AREA = #{dutyArea,jdbcType=VARCHAR},</if>
            <if test="lupTime != null">LUPTIME = #{lupTime,jdbcType=DATE},</if>
            <if test="editUser != null and editUser!=''">EDITUSER = #{editUser,jdbcType=VARCHAR},</if>
        </set>
        where GID = #{gid}
    </update>

    <delete id="deleteById">
        delete from jnpc_bsgl_b_data_isolation where GID = #{gid}
    </delete>

</mapper>
