<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.bsgl.mapper.BDataRoomMapper">

    <resultMap id="Result" type="com.bs.bsgl.pojo.BDataRoom">
        <id column="ROOMNO" property="roomno"/>
        <result column="ROOMDIS" property="roomdis"/>
        <result column="ROOMNAME" property="roomname"/>
        <result column="DUTY_AREA" property="dutyArea"/>
        <result column="LUPTIME" property="lupTime"/>
        <result column="EDITUSER" property="editUser"/>
    </resultMap>

    <select id="getDataRoomAll" parameterType="com.bs.bsgl.pojo.BDataRoom" resultMap="Result">
        select * from jnpc_bsgl_b_data_room
        <where>
            <if test="roomname != null and roomname!=''">and ROOMNAME like concat('%', #{roomname},'%') </if>
            <if test="dutyArea != null and dutyArea!=''">and DUTY_AREA like concat('%', #{dutyArea},'%') </if>
        </where>
        order by ROOMNO desc
    </select>

    <select id="getDataRoomById" resultMap="Result">
        select * from jnpc_bsgl_b_data_room where ROOMNO = #{roomno}
    </select>

    <insert id="addBDataRoom" parameterType="com.bs.bsgl.pojo.BDataRoom">
        insert into jnpc_bsgl_b_data_room (ROOMNO, ROOMDIS, ROOMNAME, DUTY_AREA, LUPTIME, EDITUSER)
        values(#{roomno,jdbcType=VARCHAR}, #{roomdis,jdbcType=VARCHAR}, #{roomname,jdbcType=VARCHAR}, #{dutyArea,jdbcType=VARCHAR}, #{lupTime,jdbcType=DATE}, #{editUser,jdbcType=VARCHAR})
    </insert>

    <update id="updateBDataRoomById" parameterType="com.bs.bsgl.pojo.BDataRoom">
        update jnpc_bsgl_b_data_room
        <set>
            <if test="roomdis != null and roomdis!=''">ROOMDIS = #{roomdis,jdbcType=VARCHAR},</if>
            <if test="roomname != null and roomname!=''">ROOMNAME = #{roomname,jdbcType=VARCHAR},</if>
            <if test="dutyArea != null and dutyArea!=''">DUTY_AREA = #{dutyArea,jdbcType=VARCHAR},</if>
            <if test="lupTime != null">LUPTIME = #{lupTime,jdbcType=DATE},</if>
            <if test="editUser != null and editUser!=''">EDITUSER = #{editUser,jdbcType=VARCHAR},</if>
        </set>
        where ROOMNO = #{roomno}
    </update>

    <delete id="deleteById">
        delete from jnpc_bsgl_b_data_room where ROOMNO = #{roomno}
    </delete>

</mapper>
